.btn{
    text-decoration: none;
    border: 3px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    color: pink
}

.btn:hover{
    background-color: lightblue;
    color: pink;
    padding: 6px;
}

@font-face{
    font-family:

